<h1>Add Doctor</h1>
<%= form_with(model: @doctor, local: true, class: "ui form" ) do |f| %>
  <div class="field">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, :last_name,:specialty, required: true, placeholder: "Doctor Name" %>
  </div>
  <%= f.submit nil, class: "ui blue button inverted" %>
<% end %>